body,
html {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Fix for Mac Chrome 80", system-ui, -apple-system,
    BlinkMacSystemFont, ".SFNSText-Regular", sans-serif;
  background-color: #e9ebee;
}

.header {
  display: flex;
  background-color: #3b5998;
  color: white;
  justify-content: space-between;
}

.logo {
  display: flex;
  margin-left: 250px;
  align-items: center;
}

.register-button {
  margin-left: 15px;
  background-color: #42b72a;
  border: none;
  color: white;
  margin-top: 5px;
}

.join-facebook {
  margin-right: 250px;
  align-items: center;
  background-color: #3b5998;
  color: white;
  border: none;
}

.content {
  margin-left: 250px;
  margin-right: 250px;
}

.articles {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-top: 50px;
}

article {
  background-color: white;
  width: 500px;
}

.articles figcaption {
  color: gray;
}

.articles button {
  margin-top: 30px;
  border: 1px solid rgb(197, 191, 191);
}

* {
  box-sizing: border-box;
}
